html {
    font-family: Arial;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    font-size: x-large;
}

h1 {
    color: #070812;
    padding: 2vh;
}

.button {
    display: inline-block;
    background-color: #b30000;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 30px;
    margin: 2px;
    cursor: pointer;
    font-size: x-large;
}

.button2 {
    background-color: #364cf4;
}

.content {
    padding: 50px;
}

.card-grid {
    max-width: 400px;
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, .5);
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #034078
}
input {
    font-size: x-large;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
                "title title"
                "sidenav content";
}
.title {
    grid-area: title;
    background-color: #222;
    height: 150px;
    padding: 10px;
    text-align: center;
}
.white-text {
    color: white;
}
.sidenav {
    grid-area: sidenav;
    height: 100vh;
    background-color: #222;
    padding-top: 20px;
}
.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    display: block;
}
.sidenav a:hover {
    background-color: #444;
}
.content {
    grid-area: content;
    padding: 20px;
}
#page {

    align-content: center;
}